<img src="/logo.png" class="logo">
    
<div class="nav">
    <ul>
        <li class="home"><a href="/">h o m e</a></li>
        <li class="archive"><a href="/archive">a r c h i v e</a></li>
        <li class="about"><a href="/about">a b o u t</a></li>
        <li class="contact"><a href="/contact">c o n t a c t</a></li>
    </ul>
</div>